.add-bar::after {
    content: '|';
    margin-left: 0.1em; /* Optional: Adjust spacing between the element and the bar */
    /*font-size: 1.2em; /* Make the bar taller by increasing its size */
    line-height: 1; /* Ensure the bar stays vertically aligned */
    vertical-align:text-top; /* Adjusts alignment with the element text */
    color: black;
  }

  .outer-frame {
    border: 2px solid black; /* Adjust the thickness and color of the frame */
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px; /* Optional: Adds rounded corners to the frame */
    box-sizing: border-box; /* Ensures the border is included in the element's size */
  }

  .select-all {
    font-size: 1.4em!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
  }