.custom-rules {
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.custom-header {
    color: #333;
    font-weight: bolder;
    margin-bottom: 5px;
}

.custom-list {
    margin-left: 20px;
    padding-left: 0;
    list-style: decimal;
}

.custom-list-item {
    margin-bottom: 10px;
    color: #555;
}

.custom-sublist {
    margin-top: 5px;
    margin-left: 20px;
    padding-left: 0;
    list-style: disc;
}

.custom-sublist-item {
    margin-bottom: 5px;
    color: #777;
}

/* Override Bootstrap/PatternFly list padding and margins */
.custom-list-item, .custom-sublist-item {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.genotype-import > div {
    margin-bottom: 5px;
}

.genotype-import > div:last-child {
    margin-bottom: 0;
}

.genotype-import > .fileinput-button {
    margin-top: -5px;
    margin-bottom: 5px;
}

td .sequence-display-text {
    line-height: 1em;
    padding-top: 0.25em;
    margin-bottom: -0.25em;
    white-space: nowrap;       /* Prevent text wrapping */
    overflow: hidden;          /* Hide the overflowing text */
    text-overflow: ellipsis;   /* Display ellipsis (...) when text overflows */
    display: inline-block;     /* Ensure the <a> element behaves like a block */
    width: 100%;               /* Adjust this to the container's width */
}

.flex-label-text {
    display: flex;
}

.genotype-error-label, .genotype-error-value {
    height:1.5em;
    text-align: left;
    align-content: center;
}

.genotype-report-dialog-icon {
    margin-right: 10px;
    font-size: 2em;
}

.genotype-report-dialog-title {
    align-items: center;
    display: flex;
    font-weight: bold;
}