.nucleotide-component {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    width: 80%;
  }
  
  .nucleotide-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .control-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .nucleotide-display {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .nucleotide-box {
    color: white;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  .sequence-text {
    font-size: 1.2em;
    word-wrap: break-word;
  }
  
  #fullSequence .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  