/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider-base {
    position: absolute!important;
    padding-top:1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /*overriden by legend color*/
    -webkit-transition: .4s;
    transition: .4s;
    height: 100%;
    width: 100%;
  }

  .slider {
    cursor: pointer;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    border: solid 1px;
    background-image: linear-gradient(to bottom,#fafafa 0,#ededed 100%);
    background-repeat: repeat-x;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white!important;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3!important;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 22px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .container-icon {
    position: relative
  }
  
  .nested-icon {
    position: absolute;
    top: -4px;
    left: -6px;
    font-size: 150% !important;
    color: rgba(217, 83, 79, 0.7);
  }

  .legend-grid-icon {
    margin-left: -2px;
    margin-right: -4px;
  }

  .legend-item-control-disabled, .legend-item-control-download-disabled {
    opacity: 0.3;
    pointer-events: none;
  }