html, body, #map {
    height: 100%;
}
.sidebar.collapsed {
  height:40px;
}
.sidebar{
  width:460px;
  z-index: 1020;
}
.sidebar-close{
  font-size:15pt;
}
.sidebar-pane{
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
}
.sidebar-header {
  background-color: #fff;
  line-height: 10px;
}
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  display: none;
}
.sidebar-close{
  padding-top: 12px;
}
.sidebar-content{
  background-color: #fff;
}

.sidebar.collapsed > .sidebar-content {
  display: none;
}

.sidebar-left .sidebar-content {
  left:  0;
  right: 0;
}

#cb-overview{
    padding: 10px;
    margin-left: 20px;
}
.cb-color{
    width:20px !important;
    padding:0 !important;
    padding-right:2px  !important;
    padding-top:2px  !important;
}
.cb-color > div{
    height:15px  !important;
    width:15px  !important;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    